
@import 'src/scss/plugins/bootstrap';
@import 'src/scss/plugins/reset';


@media (min-width: 576px) {
    html {
        font-size: 50%;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 56.25%;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 62.5%;
    }
}

body {
    font-size: 1.6rem;
    line-height: 1;
}